/* NavigationBar.css */

/* Adjust navbar background color */
.navbar-custom {
  background-color: #3498db !important; /* You can change the color code as needed */
}

/* Adjust navbar brand text color */
.navbar-custom .navbar-brand {
  color: #fff !important; /* White color for the text */
}

/* Adjust navigation links text color */
.navbar-custom .nav-link {
  color: #fff !important; /* White color for the text */
}

/* Adjust hover effect for navigation links */
.navbar-custom .nav-link:hover {
  color: #f0f0f0 !important; /* Lighter color on hover */
}
